@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  --color-green-50: #EFFDF5;
  --color-green-100: #D9FBE8;
  --color-green-200: #B3F5D1;
  --color-green-300: #75EDAE;
  --color-green-400: #00DC82;
  --color-green-500: #00C16A;
  --color-green-600: #00A155;
  --color-green-700: #007F45;
  --color-green-800: #016538;
  --color-green-900: #0A5331;
  --color-green-950: #052E16;
}

body {
  background: linear-gradient(rgba(26, 36, 32, .035) 1px, transparent 0), linear-gradient(90deg, rgba(26, 36, 32, .035) 1px, transparent 0), #f6f5f0;
  background-size: 44px 44px, 44px 44px, auto;
}
